SESSION_JWT_SECRET=replace-with-a-32-byte-random-string
SESSION_COOKIE_NAME=mchverse_session
NEXT_PUBLIC_CHAIN_ID=29548
NEXT_PUBLIC_RPC_URL=https://rpc.oasys.mycryptoheroes.net
NEXT_PUBLIC_EXPLORER_BASE=https://explorer.oasys.mycryptoheroes.net
